.header {
  text-align: center;
  background-color: #242424;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 236, 236);
}

.logo {
  width: 400px;
  margin-top: -50px;
}

.caption {
  font-size: 21px;
  margin-top: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
}

.buttons .button {
  width: 100px;
}