.header {
  text-align: center;
  background-color: #242424;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 236, 236);
}

.logo {
  width: 400px;
  margin-top: -50px;
}

.caption {
  font-size: 21px;
  margin-top: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
}

.con-form .vs-input {
  height: 35px;
  width: 450px;
}

.buttons .button {
  width: 100px;
}

.auth-box .vs-dialog {
  border-radius: 6px;
  background-color: #252525;
}

.auth-box .vs-dialog .vs-dialog__close .vs-icon-close::before {
  background-color: white;
}

.auth-box .vs-dialog .vs-dialog__close .vs-icon-close::after {
  background-color: white;
}

.dialog-button {
  margin-top: -3px;
}

.header-text {
  font-size: 17px;
  color: white;
  font-weight: normal;
  margin-bottom: -13px;
}

.error-box {
  margin-top: 7px;
  margin-bottom: 5px;
}

.cards {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.cards div {
  min-width: 300px;
  font-size: 13px;
  border-radius: 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.verifyTitle {
  font-weight: 500;
}

.verifyCaption {
  margin-top: 10px;
  font-size: 24px;
}

.verifyButtons {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.verifyButtons .button {
  width: 150px;
}

@media only screen and (max-device-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .cards div {
    margin-top: 5px;
  }
}