.container {
  background-color: rgb(24, 24, 24);
  min-height: 100vh;
  display: flex;
  color: rgb(214, 214, 214);
  flex-direction: column;
}

.panelPage {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}