.container {
  background-color: rgb(24, 24, 24);
  min-height: 100vh;
  display: flex;
  color: rgb(214, 214, 214);
  flex-direction: column;
}

.uploadPage {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadPage .section {
  display: flex;
  flex-direction: column;
  background: rgb(19, 19, 19);
  padding: 10px;
  border-radius: 7px;
  width: 95%;
  margin-top: 5px;
  padding-right: 40px;
  padding-left: 40px;
}

.title {
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.domainInput {
  margin-top: 15px;
  width: 20%;
}

.switchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.switchInput {
  display: flex;
}

@media only screen and (max-width: 1639px) {
  .domainInput {
    width: 40%;
  }
}

@media only screen and (max-width: 932px) {
  .domainInput {
    width: 50%;
  }
}

@media only screen and (max-width: 616px) {
  .domainInput {
    width: 80%;
  }
}

@media only screen and (max-width: 411px) {
  .domainInput {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .domainInput {
    width: 100%;
  }
}